<div class="container">
      <section class="five">
            <h1>Stay Connected Together</h1>
            <h2>Captions are probably one of the best ways to express yourself on <br>
                   social media besides posting pictures. </h2>

                   <div class="custom-search">
                        <input type="text"  class="custom-search-input" placeholder="Enter your email">

                        <button class="custom-search-botton" type="submit"><img src="../../assets/Arrow 1.svg" alt=""></button>  
                      </div> 
                      
                      <div class="box">
                        <img src="../../assets/logo.svg" alt="">
                        <div class="writings">
                              <h3>Future schools embrace technology as a <br> fundamental part of the learning process. This  <br> includes the use of digital devices, educational <br> software, online resources.</h3>
                              <div class="logo">
                                    <img src="../../assets/facebookLogo.svg" alt="">
                                    <img src="../../assets/instaLogo.svg" alt="">
                                    <img src="../../assets/linkedinLogo.svg" alt="">
                              </div>

                              
                              <ul class="feature">
                                    <h5>
                                        Feature  
                                    </h5>

                                    <li>speaker</li>
                                    <li>Schedule</li>
                                    <li>Event</li>
                                    

                              </ul>
                              <ul class="extra">
                                          <li>Scholarship</li>
                                          <li>schedule</li>
                                    </ul>
                              <ul class="resources">
                                   <h5> 
                                    Resources
                                   </h5> 
                                    <li>support</li>
                                    <li>Contact Us</li>
                              </ul>
                        </div>
                      </div>
      </section>
</div>
