<div class="container">

      <section class="four">



            <h1>Questions for conversations</h1>

            <div class="mob">
                  <img src="../../assets/images/writings.png" alt="">
            </div>

            <div class="cell">
                 
                        <img class="circle bounce-in-right" src="../../assets/writings/text1.svg" alt="">
                        
                        
                        <!-- <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. 5</h2> -->
            </div>

            <div class="cell2">

                  <img class="circle2 bounce-in-right2" src="../../assets/writings/text2.svg" alt="">
                  
            </div>

             <div class="cell3">

                  <img class="circle3 bounce-in-right3" src="../../assets/writings/text3.svg" alt="">

            </div>

           <div class="cell4">

                  <img class="circle4 bounce-in-right4" src="../../assets/writings/text4.svg" alt="">

            </div>

            

      </section>


</div>




<app-addressing></app-addressing>