<div class="header">
  <nav>
    <img src="../assets/logo.svg" alt="">
    <ul >
      <li class="hover-underline-animation">Event</li>
      <li class="hover-underline-animation">Speaker</li>
      <li class="hover-underline-animation">Schedule</li>
      <li class="hover-underline-animation">Next! Prize</li>
      <li class="hover-underline-animation">Partners</li>


      <div class="button-container">
        <button class="button">Signup</button>
        <div class="hover-button">&#10132;</div>
      </div>
    </ul>

    
  </nav>
</div>




 <!-- <app-landing-page></app-landing-page>
<app-questions></app-questions>
<app-addressing></app-addressing>
<app-program-schedule></app-program-schedule>  -->
<!-- <app-partners></app-partners> -->
<!-- <app-team></app-team>
<app-stay-connected></app-stay-connected>
<app-core-partners></app-core-partners> -->


<router-outlet></router-outlet>

