<!-- src/app/core-partners/core-partners.component.html -->
<div class="container">
      <h1>CORE PARTNERS</h1>
  <div class="main-circle">
    <img src="../../assets/cirmain.svg" alt="" />
  </div>
  <div class="sub-circle top-left">
    <div class="sirjohn">
      <img src="../../assets/cir1.svg" alt="" />
    </div>

    <div class="fade-in-image">
      <img src="../../assets/arrow1.svg" />
    </div>
  </div>
  <div class="sub-circle top-right">
    <div class="loud">
      <img src="../../assets/cir2.svg" alt="" />
    </div>

    <div class="fade-in-image2">
      <img src="../../assets/arrow2.svg" />
    </div>
  </div>
  <div class="sub-circle bottom-left">
    <div class="chol">
      <img src="../../assets/cir3.svg" alt="" />
    </div>

    <div class="fade-in-image3">
      <img src="../../assets/arrow3.svg" />
    </div>
  </div>
  <div class="sub-circle bottom-right">
    <div class="united">
      <img src="../../assets/cir4.svg" alt="" />
    </div>

    <div class="fade-in-image4">
      <img src="../../assets/arrow4.svg" />
    </div>
  </div>
  <!-- <div class="arrow-container">
  <div class="arrow arrow-top-left">----</div>
  <div class="arrow arrow-top-right">----</div>
  <div class="arrow arrow-bottom-left">------</div>
  <div class="arrow arrow-bottom-right">---------</div>
</div> -->
</div>

<app-team></app-team>
