<div class="container">
      <section class="three">
            <div class="banner">
                  <!-- <img src="../../assets/Program.svg"  alt=""> -->
                  <h5>Program Schedule</h5>
            </div>
            
            
            <h1>COMING SOON!</h1>
            <div class="box">
            
                 <div class="clock">
                        <div id="countdown">
                              <ul>
                                    <li><span id="days">{{ days }}</span>days </li> 
                                    <li><span id="hours">{{ hours }}</span>Hours</li> 
                                    <li><span id="minutes">{{ minutes }}</span>Minutes</li> 
                                    <li><span id="seconds">{{ seconds }}</span>Seconds</li> 
                              </ul>
                        </div>
                 </div> 
            </div>
            <h2>Registration will open in <strong>March 2024</strong> </h2>
            <h3>Sign up to our mailing list to be notified about updates</h3>
            <div class="signup">

                  
                <!-- <img src="../../assets/signup2.svg" alt="">   -->
            </div>
            
      </section>
</div>

<app-core-partners></app-core-partners>
