
<!-- <div class="div">
  <video muted autoplay loop >
    <source src="{{../../../../assets/videos/vid1.webm" type="video/mp4" />
</video>
  <div class="div-2">
    <div class="div-3">April 2024</div>
    <div class="div-4">WHAT NEXT?</div>
    <div class="div-5">
      We were all students once, let's come together to imagine what is next
      for education. Join us for 2 days of conversations with thought
      leaders, workshops for teachers and guardians and guided creative
      activities for mixed-aged groups.
    </div>
  </div>
</div> -->




<div class="container">

  <div class="logo">
    <img src="../../assets/images/logo.png" alt="">
  </div>
  <video muted autoplay loop >
    <source src="{{../../../../assets/videos/vid1.webm" type="video/mp4" />





    
</video>
      
        
        <div class="writups">
          <h3>April 2024</h3>
          <h1>WHAT NEXT?</h1>
          <p>
            We were all students once, let's come together to  imagine what is next for
            education. Join us for 2 days of  conversations with thought leaders,
            workshops for  teachers and guardians and guided creative activities for
            mixed-aged groups.
          </p>

        
        
          <button class="signup">
            <img src="../../assets/images/signupbtn.png" alt="">
          </button>
        

<div class="kid">
          
        </div>

        <!-- <div class="kids">
          <img src="../../assets/kids.svg" alt="">
        </div> -->

        </div>

        
       
       
      
</div>

<!-- for mobile -->


<app-questions></app-questions>
  

      
     

    
     
   
     
    
