<div class="container">
      
      <!-- <video muted autoplay loop style="min-width: 100vw,min-height=100vh , margin=0, padding=0">
            <source src="{{../../../../assets/videos/vid2.webm" type="video/mp4" style="min-width: 100vw,min-height=100vh , margin=0, padding=0" />

           
      </video> -->
      <div class="overlay">
            <h1>
                  The Team
            </h1>
           </div>
      <div class="image">
            <img src="../../assets/teamPic.svg" alt="">
            <div class="source"> </div>
            <div class="target"> </div>
            <div class="source2"> </div>
            <div class="target2"> </div>
            <div class="source3"> </div>
            <div class="target3"> </div>
            <div class="source4"> </div>
            <div class="target4"> </div>
            <div class="source5"> </div>
            <div class="target5"> </div>

      </div>
</div>

<app-stay-connected></app-stay-connected>