<div class="container">
  <h1>Participatory Events</h1>
  <section class="two" >
    <div class="test">
      <div id="txt1" [ngClass]="{'txt': true, 'slide-down': istxt1Visible, 'show': istxt1Visible, 'hidden': !istxt1Visible}">
        <h2>THE ONE BOX CHALLENGE</h2>
      </div>
      
      <div id="txt2" [ngClass]="{'txt': true, 'slide-down': istxt2Visible, 'show': istxt2Visible, 'hidden': !istxt2Visible}">
        <h2>THE SCHOOLING <br> AWARDS</h2>
      </div>
    </div>
    <img [class.moved]="isImageMoved" src="../../assets/gl4.svg" alt="">
    <div class="overlay">
      <a class="toggle" (click)="toggleImageMovement()"></a>
      <div id="box1" [ngClass]="{'box': true, 'show': isBox1Visible, 'hidden': !isBox1Visible}"></div>
      <div id="box2" [ngClass]="{'box': true, 'show': isBox2Visible, 'hidden': !isBox2Visible}"></div>
    </div>
  </section>
  <h3>Creative thinking inter-school <br> competition for students</h3>
  <div class="button-container">
    <button class="sign">
      <!-- <img src="../../assets/signup3.svg" alt=""> -->
    </button>
    <button [class.rotated]="isRotated" class="centered-button" (click)="toggleImageMovement()"></button>

    
  </div>
</div>



<app-program-schedule></app-program-schedule>
